@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
/* Global styles */
.window-app {font-family: "Docktrin", sans-serif;}

.pj-hist{width: calc(50% - 10px);}
.tableaucreation{text-align: center;display: inline-block;margin-top: 10px;width: 120px; height: 50px;}
.separator{width: 100%;background:#782e22;height: 1px;margin-top: 10px; margin-bottom: 10px}
h1,h2{font-family: 'MedievalSharp', cursive;}
.jr .clear{clear:both;}

/* Styles limited to liber sheets */
.jr input{border: none;background: none;text-align: center;}
.jr .grid-2col{width: 500px; height: 700px;float: left;flex:none;display: block;}
.jr .grid-4col{width: 120px;height: 194px;float: left;padding: 5px;}
.jr .avatar{width: 500px; height: 500px;}
.jr h1 {background: #ecf8f4;position: relative;display:block;margin:5px;font-size: 1.2em;border: none;}
.jr .col0 h1 input{height: 30px;padding:10px 0 10px 0;border: none;color:#c15f6c;}
.jr h2{color:#ecf8f4;font-size: 1.1em;border: none;}
.jr h3{color:#ecf8f4;font-size: 1.1em;border: none;text-transform: uppercase;}
.jr p{color:#ecf8f4}
.jr input::placeholder {opacity: 0.5;color: #ecf8f4;}
.jr .col{border-left: #ecf8f4 solid 1px}
.jr .col input{width: 23px; display: inline-block;color:#ecf8f4;}
.jr .col0 input{color:#ecf8f4;}
.jr .items-list{margin: 0;padding: 0;color:#ecf8f4;}
.jr .col2 .items-list{margin: 0;padding: 0;color:#282828;height: 200px;overflow: auto;}
.jr .item,.jr .item-image,.jr .item-name,.jr .item-classe,.jr .item-description{display: inline-block;float:left}
.jr .item{width: 120px; }
.jr .item-image{width: 20px;}
.jr .item-name,.jr .item-classe{width: 80px;padding-left: 5px;overflow: hidden;height: 18px;displ}
.jr .item-description{width: 260px;padding-left: 5px;overflow: hidden;height: 18px;}
.jr .item-controls{float:right;margin-right: 5px}
.jr .item-image img{width:20px;height: 20px;}
.jr .col4 input{color:#ecf8f4;}
.jr .col4 p{line-height: 8px;}
.jr .col2 h2{background: #c15f6c; padding: 5px; width: 200px;margin: 5px}
.jr .col2 li{width: 146px;float: left;padding: 5px}