<form class="{{cssClass}} jr" autocomplete="off">
	{{!-- Sheet Header --}}
	<div class="grid-2col" style="background:#c15f6c">
		<img src="{{actor.img}}" class="avatar" data-edit="img" title="{{actor.name}}"/>
		<div class="grid-4col" style="width:170px">
			<h1><input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
			<h2><input name="system.ordre" type="text" value="{{data.system.ordre}}" placeholder="Ordre / Ecole"/></h2>
			<p><input name="system.race" type="text" value="{{data.system.race}}" placeholder="Origine"/></p>
			<p><input name="system.age" type="text" value="{{data.system.age}}" placeholder="Age"/></p>
		</div>
		<div class="grid-4col col">
			<h3>Attributs</h3>
			<p><label class="jetdedes" data-name="agilite" data-dice="1d" data-posture="{{data.system.agilite}}" data-attDice="{{data.system.agilite}}">Agilite</label> <input class="agil" name="system.agilite" type="text" value="{{data.system.agilite}}" placeholder="0"/></p>
			<p><label class="jetdedes" data-name="charisme" data-dice="1d" data-posture="{{data.system.charisme}}" data-attDice="{{data.system.charisme}}">Charisme</label> <input class="char" name="system.charisme" type="text" value="{{data.system.charisme}}" placeholder="0"/></p>
			<p><label class="jetdedes" data-name="corps" data-dice="1d" data-posture="{{data.system.corps}}" data-attDice="{{data.system.corps}}">Corps</label> <input class="corp" name="system.corps" type="text" value="{{data.system.corps}}" placeholder="0"/></p>
			<p><label class="jetdedes" data-name="esprit" data-dice="1d" data-posture="{{data.system.esprit}}" data-attDice="{{data.system.esprit}}">Esprit</label> <input class="espr" name="system.esprit" type="text" value="{{data.system.esprit}}" placeholder="0"/></p>
		</div>
		<div class="grid-4col col">
			<h3>Talents</h3>
				<ol class="items-list">
	            {{#each actor.talent as |item id|}}
	                <li class="item flexrow" data-item-id="{{item._id}}">
	                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
	                    <div class="item-name">{{item.name}}</div>
	                    <div class="item-controls" style="margin-right: 7px;">
	                        <a class="item-control item-delete" title="Delete Sort"><i class="fas fa-trash"></i></a>
	                    </div>
	                </li>
	            {{/each}}
        		</ol>
			<h3>Faiblesses</h3>
				<ol class="items-list ">
	            {{#each actor.faiblesse as |item id|}}
	                <li class="item flexrow" data-item-id="{{item._id}}">
	                	<div class="item-image"><img src="{{item.img}}" title="{{item.name}}"/></div>
	                    <div class="item-name">{{item.name}}</div>
	                    <div class="item-controls" style="margin-right: 7px;">
	                        <a class="item-control item-delete" title="Delete Sort"><i class="fas fa-trash"></i></a>
	                    </div>
	                </li>
	            {{/each}}
        		</ol>
		</div>
		<div class="grid-4col col col4" style="width: 70px;">
			<p>PV<br><input class="hp" name="system.PV.value" type="text" value="{{data.system.PV.value}}" placeholder="1"> <span style="display: inline-block;">/</span><input class="hpmax" name="system.PV.max" type="text" value="{{data.system.PV.max}}" placeholder="1"/></p>
			<p>PM<br><input class="psy" name="system.PM.value" type="text" value="{{data.system.PM.value}}" placeholder="0"/><span style="display: inline-block;">/</span><input class="psymax" name="system.PM.max" type="text" value="{{data.system.PM.max}}" placeholder="0"/></p>
			<p>Eclat <input class="armureperso" name="system.PE" type="text" value="{{data.system.PE}}" placeholder="0"/></p>
			<p>Prot.<input name="system.PA" type="text" value="{{data.system.PA}}" placeholder="0"/> </p>
			<p>Pois. <input class="encours" name="system.PP" type="text" value="{{data.system.PP}}" placeholder="0"/></p>
		</div>
	</div>
	<div class="grid-2col col2" style="padding: 5px;">
			<h2>Inventaire</h2>
			<table>
				<ol class="items-list">
				{{#each actor.arme as |item id|}}
	                <li class="item flexrow" data-item-id="{{item._id}}">
	                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
	                    <h4 class="item-name" title="{{item.name}}">{{item.system.quantite}} {{item.name}}</h4>
	                    <div class="item-controls">
	                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
	                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
	                    </div>
	                </li>
	            {{/each}}
	            {{#each actor.inventaire as |item id|}}
	                <li class="item flexrow" data-item-id="{{item._id}}">
	                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
	                    <h4 class="item-name" title="{{item.name}}">{{item.system.quantite}} {{item.name}}</h4>
	                    <div class="item-controls">
	                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
	                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
	                    </div>
	                </li>
	            {{/each}}
        		</ol>
		    </table>
			<h2>Sort</h2>
		    <table>
		        <ol class="items-list">
	            {{#each actor.sort as |item id|}}
	                <li class="item flexrow" data-item-id="{{item._id}}" style="width:100%">
	                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
	                    <h4 class="item-name">{{item.name}}</h4>
	                    <div class="item-classe">{{item.system.classe}}</div>
	                    <h4 class="item-description" title="{{item.system.description}}">{{item.system.description}}</h4>
	                    <div class="item-controls">
	                    	
	                        <a class="item-control item-edit" title="Edit Sort"><i class="fas fa-edit"></i></a>
	                        <a class="item-control item-delete" title="Delete Sort"><i class="fas fa-trash"></i></a>
	                    </div>
	                </li>
	            {{/each}}
        		</ol>
		    </table>
	    	<h2>Histoire</h2>
			<textarea class="histoire" name="system.histoire" style="height: 150px;resize: none;">{{data.system.histoire}}</textarea>

	</div>
</form>